body {
    text-align: left;
    background-color: #FFF2F1;
    color: #424242;
}

h1 {
    text-align: center;
    font-family: 'La Belle Aurore', cursive;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
}

h3 {
    font-family: 'La Belle Aurore', cursive;
}

#nav_one {
    font-family: Tahoma, sans-serif;
    padding: 10px;
    border: 3px black dotted;
    margin: 5px;
    text-align: center;
    word-spacing: 30px;
}

p, ul {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #424242;
    border-bottom: 1px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#splash {
    background:url(../images/flowers.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:50vh;
    padding:5em 0;
    color: #424242;
    height: 100px;
    padding: 75px;

}

footer {
    background-color: #E55B88;
    font-family: Tahoma, sans-serif;
    padding: 15px;
}
