body {
	text-align: left;
	background-color: #FFF2F1;
	color: #424242;
	font-size:16px;
}

h1 {
	text-align: center;
	font-family: 'La Belle Aurore', cursive;
}

h2 {
	text-align: center;
	font-style: italic;
	font-family: 'La Belle Aurore', cursive;
}

h3 {
	font-family: 'La Belle Aurore', cursive;
}

p, ul {
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: #424242;
	border-bottom: 1px;
}

#splash {
	background:url(../images/flowers.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	padding:5em 0;
	color: #424242;
}
#demo {
	margin:auto;
	width:37.5em;
}
#demo img {
	float:left;
	margin-right:2em;
	width:50%;
}
