body {
    text-align: left;
    background-color: #FFF2F1;
    color: #424242;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
    font-family: 'La Belle Aurore', cursive;
}
h1 {
    text-align: center; 
}

h2 {
    text-align: center;
    font-style: italic;
}
a {
    text-decoration: none;
    color: #424242;
    border-bottom: 1px;
}

#splash {
    background:url(../images/flowers.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:50vh;
    padding:5em 0;
}
