body {
	text-align: left;
	background-color: #AF70D4;
	color: #70D5B0;
}
h1 {
	text-align: center;
}

h2 {
	text-align: center;
	font-style: italic;
}
#splash {
	background:url(../images/Heroimage.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
	padding:5em 0;
}
